ses/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea/
*.iml
releases/**/*.tgz
.idea
.DS_Store
*.swp
*~
*#
#*
*config.json
bin/
pkg/
*.iml
private.yml
dev.yml
.final_builds/
releases/
